/* index.jsx - Zain Gova - 301018602 - September 22, 2024 */

/* root element */

:root {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;

  margin: 30px 3em 0 3em;

  color: rgba(255, 255, 255, 0.87);
  background-color: #4a50d1;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

/* semantic elements */

a {
  /* ypography stuff */

  font-weight: 500;
  font-weight: 700;

  /* anipulations stuff */

  transition: 0.2s ease-in;
  text-decoration: inherit;

  color: #292d79;
}

a:hover {
  color: #ffffff;
}

a h1 {
  transition: none;

  color: white;
}

body {
  overflow-x: hidden;

  min-width: 700px;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

footer {
  position: relative;
  bottom: 0;

  width: 100%;
  margin-top: 17px;

  text-align: center;
}

footer p {
  margin-top: -8px;

  opacity: 0.5;
}

button img {
  display: block;
}

button:hover {
  border-color: #646cff;
}


hr {
  display: flex;

  margin-top: 1em;

  border-width: 0.1em;
  border-color: #292d79;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input, textarea {
  width: 100%;
  font-size: 13px;
  background-color: #fff;
  border: none;
  color: black;
  border: 3px solid #292d79;
  border-radius: 5px;
  padding: 0.2em;
  max-width: 100%;
  min-width: 100%;
  font-family: "Open Sans", sans-serif;
}

nav {
  font-size: x-large;

  float: left;

  width: 70vw;
  margin-left: 0;

  color: #32379b;
}

/* class elements */

.title {
  font-family: "Fascinate Inline", system-ui;
  font-size: 6.2em;
  font-weight: 400;
  font-style: normal;

  margin: 0 0 0.1em 0;
}

.heading {
  font-size: 1em;
  font-weight: bold;

  margin: 0.4em 0 0 0;
}

.headingDark {
  color: #0f1471;
  font-size: 1em;
  font-weight: bolder;

  margin: 0.4em 0 0 0;
}

.headingLarge {
  font-size: 2.1em;
  font-weight: bold;

  margin: 0.4em 0 0.32em 0;

  color: #ede733;
}

.italic {
  font-style: italic;
}

.contactForm {
  width: 70%;
  background-color: #4a50d1;
  border: 11px double #292d79;
  border-radius: 20px;
  padding: 2em;
  margin: 2em 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba( 0, 0, 0, 0.22) 0px 15px 12px;
}



.projectCard {
  width: 100%;
  height: auto;
  margin: 0 auto 0.7em auto;
  padding: 2em 2em 0 2em;

  border: 11px double #31358f;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba( 0, 0, 0, 0.22) 0px 15px 12px;
}

.project img {
  width: 100%;
  border-radius: 20px;
}

.projectCard p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  margin-top: 1.7em;
}

.projectCard button {
  margin-top: 0.6em;
}

.subheading {
  font-size: 1em;
  font-weight: 500;

  margin: 0.2em 0 1em 0;
}

.projectHeading {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.7em;
  font-weight: bold;

  margin: 0.5em 0;

  text-decoration: underline;

  color: #fff;
}


.projects {
  width: 70%;
}

.resume {
  width: 75.5%;
  height: auto;
  margin: 0 auto 0.7em auto;

  border: 11px double #31358f;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba( 0, 0, 0, 0.22) 0px 15px 12px;
}

.header {
  display: flex;
  align-items: center;

  padding: 5px;
}

.download {
  font-size: 1em;
  font-weight: 600;

  margin: 2em 0;
  padding: 1.2em;

  transition: 0.7s ease;

  border: 2px solid white;
  border-radius: 10px;
  background-color: #4a50d1;
  cursor: pointer;
}

.redirect {
  font-size: 1em;
  font-weight: 600;
  color: #ffffff;

  margin: 2em 0;
  padding: 1.2em;

  transition: 0.7s ease;

  border: 3px solid #2c318d;
  border-radius: 10px;
  background-color: #4047ce;
}

.pictureContainer {
  display: flex;                
  justify-content: left;   
  gap: 20px;          
  flex-wrap: wrap;           
}

.photo {
  border: 8px double #2c318d;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 27px, rgba( 0, 0, 0, 0.22) 0px 15px 12px;

}

.redirect:hover {
  border: 3px solid #31358f;
  background-color: #31358f;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.hrLight {
  border: 1px solid #3e43ab;
  margin: 0.5em 0 1.8em 0;
}

.download:hover {
  cursor: pointer;

  border: 2px solid white;
  background-color: #3539a2;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba( 50, 50, 93, 0.25) 0px 50px 100px -20px, rgba( 0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.header-link {
  display: flex;
  align-items: center;
}

.linkCard {
  width: 70%;
  border: 11px double #31358f;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba( 0, 0, 0, 0.22) 0px 15px 12px;
  padding: 2em 2em 0 2em;
  margin-bottom: 3em;
  background-color: #fff;
}

.logo {
  height: 50px;
  margin: 1.4em 1em 0 1em;
}

.title {
  margin: 0;
}

.servicesTitle {
  font-size: 1.1em;
  font-weight: 800;
}

.servicesDesc {

}

.servicesContainer {
  display: flex;
  flex-wrap: wrap;
  /* gap: 2em; */
  justify-content: center;
}

.servicesCard {
  display: flex;
  /* padding: 2em; */
  gap: 3.5em;
  margin: 10px;
  width: 45%;
  border: 11px double #31358f;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba( 0, 0, 0, 0.22) 0px 15px 12px;
}

.servicesImg {
  width: 50%;
  float: right;
  margin: 20px;
}

.content {
  margin-top: 1.2em;
}

.nav-link {
  padding: 0 0.7em;

  text-decoration: none;

  color: #292d79;
}

.nav-link.active {
  color: #ffffff;
}

.nav-link-first {
  padding: 0 0.7em 0 0;
}

.projectImg {
  width: 100%;
  height: auto;
  margin: 1.4em auto 0.7em auto;
  padding: 2em;

  border: 11px solid #4a50d1;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba( 0, 0, 0, 0.22) 0px 15px 12px;
}

.dividerThin {
  border: 1px solid #3e43ac;
}

.footerElement {
  font-size: 3em;
  margin: 0 0.3em;
}

.back-to-top-small {
  font-size: 24px;

  position: fixed;
  z-index: 1000;
  right: 30px;
  bottom: 30px;

  display: block;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  cursor: pointer;
  transition: 0.4s ease;
  transform: scale(-1.4, 1.4);

  opacity: 0.5;
  color: white;
  border: none;
}

.back-to-top-small:hover {
  opacity: 1;
}

/* media query for smaller screens */

@media(max-width: 1100px) {
  .resume {
    width: 98.2%;
  }

  .projects {
    width: 97%;
  }

  .projectCard {
    width: 92.3%;
  }

  .projectImg {
    width: 94.5%;
  }

  .linkCard {
    width: 91%;
  }

  .contactForm {
    width: 91%;
  }

  .pictureContainer {
    justify-content: center;
  }

  .servicesCard {
    width: 100%;
    margin-bottom: 2em;
  }
}
