

:root {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #4a50d1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 30px 3em 0 3em;
}

a {
  font-weight: 500;
  color: #292d79;
  text-decoration: inherit;
  transition: 0.2s ease-in;
  font-weight: 700;
}

a:hover {
  color: #ffffff;
}

a h1 {
  color: white;
  transition: none;
}

body {
  margin: 0;

  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

footer {
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 17px;
}

footer p {
  margin-top: -8px;
}

button img {
  display: block;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

nav {
  float: left;
  font-size: x-large;
  color: #32379b;
  width: 70vw;
  margin-left: 0;
}

.title {
  margin: 0 0 0.1em 0;
  font-size: 6.2em;
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}

.heading {
  font-size: 1em;
  font-weight: bold;
  margin: 0.4em 0 0 0;
}

.headingLarge {
  font-size: 2.1em;
  font-weight: bold;
  margin: 0.4em 0 0 0;
  color: #ede733;
}

.italic {
  font-style: italic;
}

.card {
  background-color: #3e43ac;
}

.subheading {
  font-size: 1em;
  font-weight: 500;
  margin: 0.2em 0 1em 0;
}

.projectHeading {
  font-size: 1.4em;
  font-weight: bold;
  margin: 0.5em 0;
  text-decoration: underline;
  color: #fff;
}

hr {
  display: flex;
  margin-top: 1em;
  border-color: #292d79;
  border-width: 0.1em;
}


.projects {
  width: 70%;
}

.resume {
  width: 70%;
  height: auto;
  border: 11px double #292d79;
  margin: 0 auto 0.7em auto;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.header {
  display: flex;
  align-items: center;
  padding: 5px;
}

.download {
  padding: 1.2em;
  font-size: 1em;
  font-weight: 600;
  margin: 2em 0;
  border-radius: 60px;
  border: 2px solid white;
  background-color:#4a50d1;
  transition: 0.7s ease;
}

.download:hover {
  background-color: #3a3eb2;
  border: 2px solid white;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  cursor: pointer;
}

.header-link {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin: 1.4em 1em 0 1em;
}

.title {
  margin: 0;
}

.content {
  margin-top: 1.2em;
}

.nav-link {
  text-decoration: none;
  color: #292d79;
  padding: 0 0.7em;
}

.nav-link.active {
  color: #ffffff;
}

.nav-link-first {
  padding: 0 0.7em 0 0;
}

.projectImg {
  width: 100%;
  height: auto;
  border: 11px double #292d79;
  margin: 0 auto 0.7em auto;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.dividerThin {
  border: 1px solid #3e43ac;
}

.footerElement {
  font-size: 4em;
  margin: 0 0.3em;
}

.back-to-top {
  display: block;
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  right: 20px;  /* Adjust as needed */
  color: white; /* Text color */
  border: none; /* Remove default border */
  width: 60px; /* Width of the button */
  height: 60px; /* Height of the button */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* Show pointer cursor on hover */
  font-size: 24px; /* Adjust icon size */
  z-index: 1000; /* Ensure it's on top of other elements */
  transition: 0.5s ease;
}

.back-to-top:hover {
  width: 3em;
  transform: scale(1.2);
}